
            <p>Daca esti nemultumit de produsele cumparate si vrei sa renunti la cumparare si implicit sa primesti banii inapoi, poti sa aplici pentru procedura de retur a produselor in maxim 14 zile calendaristice, conform dispozitiilor Ordonantei de Guvern nr. 34/2014, privind protectia consumatorilor la incheierea si executarea contractelor la distanta.</p>
            <p>Clientul are dreptul de a denunta unilateral contractul la distanta, in termen de 14 zile calendaristice, fara penalitati si fara invocarea vreunui motiv. </p>
            <p>Conform Ordonantei nr. 34/2014 consumatorul este raspunzator de achitarea cheltuielilor aferente returnarii produselor catre comerciant.</p>
            <p>Rambursarea sumelor se va face in cel mult 30 de zile de la data denuntarii contractului de catre consumator.</p>
      