
            <p>Prin accesarea site-ului nostru sunteti de acord cu urmatoarele:</p>
            <div style="padding-left: 10px">
                <ul>
                    <li>prin introducerea datelor personale sunteti de acord ca acestea sa fie stocate cu scopul trimiterii corespondentei electronice catre dumneavoastra</li>
                    <li>comanda va fi expediata doar daca a fost confirmata</li>
                    <li>magazinul online este obligat sa onoreze comenzile doar in limita stocului disponibil</li>
                </ul>
            </div>
            <p>NOTA DE INFORMARE PRIVIND PROTECTIA DATELOR PERSONALE</p>
            <p>Conform cerintelor Legii nr. 677/2001 pentru protectia persoanelor cu privire la prelucrarea datelor cu caracter personal si libera circulatie a acestor date,
                modificata si completata si ale Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal si protectia vietii private, compania noastra are obligatia de
                a administra in conditii de siguranta si numai pentru scopurile specificate, datele personale pe care ni le furnizati. Scopul colectarii datelor este: prelucrarea comenzilor clientilor.</p>

